	body {
		font-family: "Open Sans", sans-serif !important;
		font-size: 14px;
	}	

	.pendiente{
		color:#fff;
		text-transform: uppercase;
		background-color: #ff0000;
	}
	.pagado{
		color:#fff;
		text-transform: uppercase;
		background-color: #00ff00;
	}

	.nlink {
		color:rgb(244, 244, 245) !important;
	}
	.nlink:hover{
		color:#fff !important;
		background-color:#248c2d !important;
	}
	.link{
		color:rgb(255, 255, 255) !important;
	}
	.link:hover{
		color:#4d4e48 !important;
		text-decoration:"none" !important;
	}

	.derecha{
		padding-left:52em;
	}
	.modal-body {
		overflow-x: auto !important;
	  }

	.bg-primary{
		background-color:#33b749 !important;
	}

	/* cambiar tipo de letra */

	nav.navbar ul.nav li {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 18px;
	}

	@media screen and (max-width: 800px){
		table.tabla-adp thead, th {
			border: none;
			clip: rect(0,0,0,0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}

		table.tabla-adp tr {
			border-bottom: 3px solid;
		}

		table.tabla-adp td {
			border-bottom: 1px solid #ddd;
			display: block;
			font-size: 1.2em;
			text-align: right;
			padding: 10px;
		}

		table.tabla-adp td:before{
			content: attr(data-label);
			float:left;
			color: #273b47;
			font-weight: bold;
			font-size: 1em;
			padding: 1px 5px;
		}
	}
/* flexbox */

.itemCard {
	flex-grow: 1;
}

.contenido {
	display: flex;  
	flex-flow: row wrap;
	font-weight: bold;
	text-align: center;
  }
  
  .contenido > * {
	padding: 10px;
	flex: 1 100%;
  }
  
  /* .header {
	background: tomato;
  } */
  
  /*.footer {
	background: lightgreen;
  }*/
  
  .main {
	text-align: justify;
	/* background: deepskyblue; */
  }
  
  /*.aside-1 {
	background: gold;
	}*/
	.aside-2>h5>a{
		color: #0a850a !important;
	}
  .aside-2>h5 {
		border-bottom: 1px solid rgb(225, 247, 31);
	/*background: hotpink;*/
  }
  
  @media all and (min-width: 600px) {
	.asideF { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
	.main    { flex: 3 0px; }
	.aside-1 { order: 1; } 
	.main    { order: 2; }
	.aside-2 { order: 3; }
	.footer  { order: 4; }
  }

