	body {
		font-family: "Open Sans", sans-serif !important;
		font-size: 14px;
	}	

	.pendiente{
		color:#fff;
		text-transform: uppercase;
		background-color: #ddd903;
	}
	.pagado{
		color:#fff;
		text-transform: uppercase;
		background-color: #00ff00;
	}
	.vencido{
		color:#fff;
		text-transform: uppercase;
		background-color: #ff0000;
	}

	.nlink {
		color:rgb(244, 244, 245) !important;
	}
	.nlink:hover{
		color:#fff !important;
		background-color:#248c2d !important;
	}
	.link{
		color:rgb(255, 255, 255) !important;
	}
	.link:hover{
		color:#4d4e48 !important;
		text-decoration:"none" !important;
	}

	.derecha{
		padding-left:52em;
	}
	.modal-body {
		overflow-x: auto !important;
	  }

	.bg-primary{
		background-color:#33b749 !important;
	}

	/* cambiar tipo de letra */

	nav.navbar ul.nav li {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 18px;
	}

	@media screen and (max-width: 800px){
		table.tabla-adp thead, th {
			border: none;
			clip: rect(0,0,0,0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}

		table.tabla-adp tr {
			border-bottom: 3px solid;
		}

		table.tabla-adp td {
			border-bottom: 1px solid #ddd;
			display: block;
			font-size: 1.2em;
			text-align: right;
			padding: 10px;
		}

		table.tabla-adp td:before{
			content: attr(data-label);
			float:left;
			color: #273b47;
			font-weight: bold;
			font-size: 1em;
			padding: 1px 5px;
		}
	}
/* flexbox */

.itemCard {
	flex-grow: 1;
}

.contenido {
	display: flex;  
	flex-flow: row wrap;
	font-weight: bold;
	text-align: center;
  }
  
  .contenido > * {
	padding: 10px;
	flex: 1 100%;
  }
  
  /* .header {
	background: tomato;
  } */
  
  /*.footer {
	background: lightgreen;
  }*/
  
  .main {
	text-align: justify;
	/* background: deepskyblue; */
  }
  
  /*.aside-1 {
	background: gold;
	}*/
	.asideF>h5>a{
		color: #0a850a !important;
	}

	.asideF>h5>a:hover{
		color: #10be10 !important;
	}

	.aside-1>ul>li>a{
		color: #0a850a !important;
	}

	.aside-1>ul>li>a:hover{
		color: #12bd12 !important;
	}

	.linkPost{
		color: rgb(233, 199, 4) !important;
	}

	.linkPost:hover{
		color: rgb(246, 250, 4) !important;
	}

  .aside-2>h5 {
		border-bottom: 1px solid rgb(225, 247, 31);
	/*background: hotpink;*/
	}
	
	.linkPostCat{
		color: rgb(4, 94, 11) !important;
	}

	.linkPostCat:hover{
		color: rgb(9, 158, 21) !important;
	}
  
  @media all and (min-width: 600px) {
	.asideF { flex: 1 0 0; }
	.button-xs{
		width: 100% !important;
		height: 3.5em;
	}
  }
  
  @media all and (min-width: 800px) {
	.main    { flex: 3 0px; }
	.aside-1 { order: 1; } 
	.main    { order: 2; }
	.aside-2 { order: 3; }
	.footer  { order: 4; }
  }


	.div-img {
		position: relative;
		cursor: pointer;
	}

	/* .div-img:hover {
		transition: all .5s ease-in-out;
		background-color: black;
		opacity: 0.8;
	} */

	/* .div-img:hover .change{
		opacity: 1;
	} */

	/* .div-img:hover .imagen{
		opacity: 0.2;
		transition: .5s ease-in-out;
	} */

	.change {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: .5s ease-in-out;
	}
	.text{
		color: white;
		font-size: 20px;
		position: absolute;
		top: 93%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
		width:100%;
		height: 15%;
		background-color:gold;
		margin: auto;
		padding: auto;
		font-family: 'Open Sans', sans-serif !important;
		opacity: 1.5;
	}

	/* .text:hover {
		color: white;
		background-color: rgb(207, 177, 6);
	} */

	.archivo { 
		
	width:100%;
    position: absolute; 
    top: 0; 
    left: 0; 
	opacity: 0; 
	cursor: pointer;
}

.fondo {
	background: rgba(220, 255, 122,1);
	background: -moz-linear-gradient(left, rgba(220, 255, 122,1) 0%, rgba(118, 201, 41) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(220, 255, 122,1)), color-stop(100%, rgba(145,232,66,1)));
	background: -webkit-linear-gradient(left, rgba(220, 255, 122,1) 0%, rgb(118, 201, 41) 100%);
	background: -o-linear-gradient(left, rgba(220, 255, 122,1) 0%, rgba(118, 201, 41) 100%);
	background: -ms-linear-gradient(left, rgba(220, 255, 122,1) 0%, rgba(118, 201, 41) 100%);
	background: linear-gradient(to right, rgba(220, 255, 122,1) 0%, rgba(118, 201, 41) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
}

.form-login {
	padding-top:50px;
	margin-top: 80px;
	background-color: rgba(223, 226, 53, 0.7);
	border: none;

}

.btn-login {
	width: 100% !important;
	height: 3.5em;
	background-color: rgb(18, 212, 44);
}

.btn-edit {
	width: 100% !important;
	height: 3.5em;
	background-color: #f0ad4e;
}

.link-green {
	color:#0a850a;
	text-decoration: none;
}

.navbar-toggle:hover {
	background-color: #aad412 !important;
}

.navbar-toggle:active {
	background-color: #0a850a !important;
}

.navbar-toggle:visited {
	background-color: #0a850a !important;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #aad412;
}

.navbar-default .navbar-toggle:hover .icon-bar {
	background-color: #fff;
}

.caja {
	height: 3em;
}

.form-control:focus {
  border-color: #9ae966;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(139, 233, 102, 0.6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(139, 233, 102, 0.6);
}
 .center {
	 padding-bottom: 8px !important;
	 padding-top: 0px;
 }

 .center:hover{ 
	-webkit-transform: scale(1.2);
	transform: scale(1.2)
}




